<h2>Astro Services</h2>
		<div class="products-list clearfix">
		<% @service.each do |service| %>
			<div class="row">
					<div class="col-sm-4">					
						<div class="product-box">
							<div class="pad">
							    <%= image_tag service.image.url, :alt => "", :class =>"img-responsive" %>
	<!-- 							<img src="assets/product-1.png" alt="" class="img-responsive"/>
	 -->							<h3><%=service.title%></h3>
								<div class="left pull-left">
									<p class="amount m-b-0"><span>Rs.</span> <%=service.amount%></p>
									<%=link_to image_tag("buy-now.png"), new_order_path(amount: '11,000') %>
									
								</div>
								<div class="right pull-left">
									<p class="amount m-b-0"><span>$</span> <%=(service.amount/67).round%></p>
									<% if current_user && service.amount.present?%>
									  <%=link_to image_tag("buy-now.png"), edit_order_path(current_user,amount: (service.amount/67).round) %>
									<%else%>
									  <%=link_to image_tag("buy-now.png"), new_order_path%>
									<%end%>
								</div>
								<div class="clearfix"></div>
								<p class="state"><span><%=current_user.present? ? current_user.name : 'username'%></span> is a celebrity astrologer of world fame.... </p>
							</div>
						</div>					
					</div>

			</div>
		<%end%>

			<!--end Third row -->

		</div><!--end product list -->