<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Astro</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, user-scalable=yes">
<link type="image/x-icon" rel="shortcut icon" href="assets/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.png">

<!-- For all browsers -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="./css/main-style.css">

<!-- For progressively larger displays -->
<link rel="stylesheet" media="only all and (min-width: 320px)" href="./css/320.css">
<link rel="stylesheet" media="only all and (min-width: 480px)" href="./css/480.css">
<link rel="stylesheet" media="only all and (min-width: 640px)" href="./css/640.css">
<link rel="stylesheet" media="only all and (min-width: 768px)" href="./css/768.css">
<link rel="stylesheet" media="only all and (min-width: 992px)" href="./css/992.css">
<link rel="stylesheet" media="only all and (min-width: 1200px)" href="./css/1200.css">

</head>
<body>
<div class="container-fluid">
<div class="row">
<div class="courtsy clearfix">
	<div class="col-sm-12">
		<ul class="list-unstyled pull-left m-b-0">
			<li class="welcome">Welcome Visitors ! </li>
			<li>
				<img src="assets/phone.png" alt=""/>
				<span class="first">+91-11-26175070, 91-11-26160803</span>
				<span> HotLine: +91 98 103 03357 </span>
			</li>
		</ul>
		<div class="courtsy-right">
			<a href="javascript:void(0)"><i class="fa fa-user"></i> Log in</a> / 
			<a href="javascript:void(0)">Sign up</a> |
			<a href="javascript:void(0)">Wishlist(0)</a>
		</div>
	</div>
</div>
<!--end courtsy -->

<div class="header clearfix">	
	<div class="logo pull-left"><a href="javascript:void(0)"><img src="assets/logo.jpg" alt=""/></a></div>
	<div class="header-right">
		<a href="javascript:void(0)" class="pull-right"><img src="assets/skype.jpg/" alt=""></a>
		<div class="input-group pull-right">
	      <input type="text" class="form-control" placeholder="Search Products, Brands etc">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
	      </span>
	    </div><!-- /input-group -->
	    
	</div>
</div>
<!-- end header -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0)">ASTRO SERVICES</a></li>
        <li><a href="javascript:void(0)">WEEKLY HOROSCOPE </a></li>
        <li><a href="javascript:void(0)">VASTU</a></li>
        <li><a href="javascript:void(0)">NUMEROLOGY</a></li>
        <li><a href="javascript:void(0)">SHOP</a></li>
        <li><a href="javascript:void(0)">CONTACT</a></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Horoscopes</a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-user"></i></a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <div class="news-headline clearfix">
  	<div class="col-sm-12 text-center">
	  	<span class="">World Brahmin Organisation (WBO) called a convention from 31st October – 2nd November 2014 on The Relevance of Vedas in the present Era.</span>
	  	<span class="pull-right">Nakashatra Niket</span>
	  </div>
  </div>
  <!--end news headline -->
</nav>
<!--end nav bar -->

<div class="container">
	<div class="col-sm-9">

		<div id="slider" class="carousel slide" data-ride="carousel">
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%= image_tag "slide-1.jpg" %>
		      <div class="carousel-caption">
		        <div class="title">Astrology</div>
		        <p>Redefined<br>if you understand this language,</p>
		        <p class="big">the stars speaks to you...</p>
		      </div>
		    </div>
		    <div class="item">
		      <%= image_tag "slide-2.jpg" %>
<!-- 		      <img src="images/slide-2.jpg" alt="...">
 -->		      <div class="carousel-caption">
		        <div class="title">God</div>
		        <p>Redefined<br>if you understand this language,</p>
		        <p class="big">the stars speaks to you...</p>
		      </div>
		    </div>

		    <div class="item">
		      <%= image_tag "slide-3.jpg" %>
<!-- 		      <img src="images/slide-3.jpg" alt="...">
 -->		      <div class="carousel-caption">
		        <div class="title">Temple</div>
		        <p>Redefined<br>if you understand this language,</p>
		        <p class="big">the stars speaks to you...</p>
		      </div>
		    </div>
		  </div>

		  <div class="banner-tagline">
		  	A celebrity astrologer of world fame...
		  </div>
		  <!-- Indicators -->		  	
		  <ol class="carousel-indicators">			 	  	
		    <li data-target="#slider" data-slide-to="0" class="active"></li>
		    <li data-target="#slider" data-slide-to="1"></li>
		    <li data-target="#slider" data-slide-to="2"></li>
		  </ol>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
		    <span><img src="assets/prev.png" alt=""/></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#slider" role="button" data-slide="next">
		    <span><img src="assets/next.png" alt=""/></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<!--end slider -->

		<div class="welcome-article clearfix">
			<h1>Welcome to <span>Astro Bhambi</span> !!!</h1>
			<div class="welcome-img pull-left">
			    <%= image_tag "swami.png", :alt => "", :class =>"img-responsive" %>
<!-- 				<img src="assets/swami.png" alt="" class="img-responsive">
 -->			</div>
			<div class="welcome-txt pull-left">
				<p><span class="black">Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame is a consultant to the famous <span class="orange">Actors, Politicians, Sportspersons, Film</span> and <span class="orange">TV Directors, Musicians, Artists, Writers, Models </span> and other personalities. He connects with people on a personal level and also on a philosophical plane. His desire is to equip the individual with knowledge to best deal with life and to make the best of opportunities and strengths.
				</p>
				<p><span class="black">Pandit Ajai Bhambi’s</span> accurate predictions continue to amaze people through his profiles and forecasts of celebrities, countries and events. He is a well known face on Indian television as well as a prolific writer....</p>
				<a href="javascript:void(0)" class="pull-right"> <img src="assets/read-btn.png" alt=""></a>
			</div>
		</div>
		<!--end welcom article -->
		<h2>Astro Services</h2>
		<div class="products-list clearfix">
			<div class="row">
				<div class="col-sm-4">					
					<div class="product-box">
						<div class="pad">
						    <%= image_tag "product-1.png", :alt => "", :class =>"img-responsive" %>
<!-- 							<img src="assets/product-1.png" alt="" class="img-responsive"/>
 -->							<h3>Vaastu &amp; You</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>					
				</div>

				<div class="col-sm-4">					
					<div class="product-box">
						<div class="pad">
						    <%= image_tag "product-2.png", :alt => "", :class =>"img-responsive" %>
<!-- 							<img src="assets/product-2.png" alt="" class="img-responsive"/>
 -->							<h3>Rajyog</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>					
				</div>

				<div class="col-sm-4">
					<div class="product-box">
							<div class="pad">
								<%= image_tag "product-3.png", :alt => "", :class =>"img-responsive" %>
<!-- 								<img src="assets/product-3.png" alt="" class="img-responsive"/>
 -->								<h3>Numerology</h3>
								<div class="left pull-left">
									<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
									<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
								</div>
								<div class="right pull-left">
									<p class="amount m-b-0"><span>$</span> 200</p>
									<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
								</div>
								<div class="clearfix"></div>
								<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
							</div>
						</div>
				</div>

			</div>
			<!--end first row -->

			<div class="row">
				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<%= image_tag "product-4.png"%>
<!-- 							<img src="assets/product-4.png" alt=""/>
 -->							<h3>Marriage Prospects</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
						    <%= image_tag "product-5.png"%>
<!-- 							<img src="assets/product-5.png" alt=""/>
 -->							<h3>Love Life Report</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<%= image_tag "product-6.png"%>
<!-- 							<img src="assets/product-6.png" alt=""/>
 -->							<h3>Health Report</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

			</div>
			<!--end second row -->

			<div class="row">
				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<%= image_tag "product-7.png"%>
<!-- 							<img src="assets/product-7.png" alt=""/>
 -->							<h3>Career Report</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<%= image_tag "product-8.png"%>
<!-- 							<img src="assets/product-8.png" alt=""/>
 -->							<h3>Business Report</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<%= image_tag "product-6.png"%>
<!-- 							<img src="assets/product-6.png" alt=""/>
 -->							<h3>Astro Talk</h3>
							<div class="left pull-left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right pull-left">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>
			</div>
			<!--end Third row -->

		</div><!--end product list -->

	</div>
	<!--end left section-->

	<div class="col-sm-3">
		<div class="sell-product spring">
			<div class="corner"></div>
			<a href="#"><img src="assets/right-product-1.png" alt="" class="img-responsive"/></a>
		</div>

		<div class="sell-product">
			<div class="corner"></div>
			<h3 class="m-t-0">Image Gallery</h3>
			<ul class="gallery list-unstyled">
				<li><a herf="#"><img src="assets/gallery-1.png" alt="" class="img-responsive"/></a></li>
				<li><a herf="#"><img src="assets/gallery-2.png" alt="" class="img-responsive"/></a></li>
				<li><a herf="#"><img src="assets/gallery-3.png" alt="" class="img-responsive"/></a></li>
			</ul>

			<hr>

			<ul class="gallery list-unstyled">
				<li><a herf="#"><img src="assets/gallery-4.png" alt="" class="img-responsive"/></a></li>
				<li><a herf="#"><img src="assets/gallery-5.png" alt="" class="img-responsive"/></a></li>
				<li><a herf="#"><img src="assets/gallery-6.png" alt="" class="img-responsive"/></a></li>
			</ul>
		</div>

		<div class="product-box m-b-20">
			<div class="right-form">
				<form class="">
					<h3>Contact Form <button type="button" class="close" data-dismiss="right-form" ><span aria-hidden="true">&times;</span></button></h3>					
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Your Name"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Your Email Id"/>
					</div>
					<div class="form-group">
						<textarea class="form-control" placeholder="Please enter your comment..."/></textarea>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary">SUBMIT</button>
					</div>
				</form>
			</div>
		</div>

		<div class="sell-product">
			<a href="#"><img src="assets/right-product-2.png" alt="" class="img-responsive"/></a>
		</div>

		<div class="sell-product">
			<a href="#"><img src="assets/right-product-3.png" alt="" class="img-responsive"/></a>
		</div>

		<img src="assets/right-product-4.png" alt="" class="img-responsive m-b-20"/>

		<img src="assets/right-product-5.png" alt="" class="img-responsive"/>
	</div>
	<!--end right section -->
</div>
<!--end container -->

<div class="footer clearfix">
	<div class="footer-container clearfix">
		<div class="footer-column first">
			<h4>Useful Link</h4>
			<ul class="list-unstyled">
				<li><a href="javascript:void(0)">About Pandit Ji</a></li>
				<li><a href="javascript:void(0)">Contact Us</a></li>
				<li><a href="javascript:void(0)">Weekly Horoscope</a></li>
				<li><a href="javascript:void(0)">Numerology</a></li>
				<li><a href="javascript:void(0)">Testimonials</a></li>
			</ul>
		</div>

		<div class="footer-column second">
			<h4>Astro Services</h4>
			<div class="row">
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Astro Talk</a></li>
					<li><a href="javascript:void(0)">Raj Yog</a></li>
					<li><a href="javascript:void(0)">Marriage</a></li>
					<li><a href="javascript:void(0)">Love Life Report</a></li>
					<li><a href="javascript:void(0)">Career Report</a></li>
					<li><a href="javascript:void(0)">Ask Questions</a></li>
				</ul>
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Business Report</a></li>
					<li><a href="javascript:void(0)">1 Year Complete Report</a></li>
					<li><a href="javascript:void(0)">5 Year Complete Report</a></li>
					<li><a href="javascript:void(0)">Health Report</a></li>
					<li><a href="javascript:void(0)">Vastu &amp; You</a></li>
					<li><a href="javascript:void(0)">Numerology</a></li>
				</ul>
			</div>
		</div>

		<div class="footer-column third">
			<h4>Yearly Forecast 2016</h4>
			<div class="row">
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Aries</a></li>
					<li><a href="javascript:void(0)">Taurus</a></li>
					<li><a href="javascript:void(0)">Gemini </a></li>
					<li><a href="javascript:void(0)">Cancer</a></li>
					<li><a href="javascript:void(0)">Leo</a></li>
					<li><a href="javascript:void(0)">Virgo</a></li>
				</ul>
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Libra</a></li>
					<li><a href="javascript:void(0)">Scorpio</a></li>
					<li><a href="javascript:void(0)">Sagittarius</a></li>
					<li><a href="javascript:void(0)">Capricorn</a></li>
					<li><a href="javascript:void(0)">Aquarius</a></li>
					<li><a href="javascript:void(0)">Pisces</a></li>
				</ul>
			</div>
		</div>

		<div class="footer-column last">
			<h4>Policy Information</h4>		
			<ul class="list-unstyled">
				<li><a href="javascript:void(0)">Terms &amp; Conditions</a></li>
				<li><a href="javascript:void(0)">Privacy Policy</a></li>
				<li><a href="javascript:void(0)">FAQ</a></li>
				<li class="social-link">
					<ul class="list-unstyled">
						<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<!--end footer container -->
</div>
<!-- end footer div -->

<div class="footer-bottom clearfix">
	<p class="pull-left">Copyright &copy; Astro Bhambi.com | All Right Reserved </p>
	<p class="pull-right">Developed By:  <a href="javascript:void(0)">Soft Indigo</a></p>
</div>
<!--end footer bottom -->

<div class="social-share">
	<ul class="list-unstyled">
		<li><a href="javascript:void(0)"><img src="assets/facebook.png" alt=""/></a></li>
		<li><a href="javascript:void(0)"><img src="assets/twitter.png" alt=""/></a></li>
		<li><a href="javascript:void(0)"><img src="assets/pinterest.png" alt=""/></a></li>
		<li><a href="javascript:void(0)"><img src="assets/git.png" alt=""/></a></li>
		<li><a href="javascript:void(0)"><img src="assets/google.png" alt=""/></a></li>
		<li><a href="javascript:void(0)"><img src="assets/rss.png" alt=""/></a></li>
	</ul>
</div>
<!--end social share -->

</div><!--end row div -->
</div><!--end container-fluid div -->

<!-- Start Javascript -->
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>
<!-- end all Javascript -->
</body>
</html>
