<div class="container">    
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Update User Details</div>
      </div>  
      <div class="panel-body" >
        <%= form_for @order, :url => {:controller => "orders", :action => "update"},remote: true do |f| %>
          <div id="signupalert" class="alert">
            <p><%#= devise_error_messages! %></p>
            <span></span>
          </div>
          <div class="form-group">
            <label for="firstname" class="col-md-4 control-label">Name</label>
            <div class="col-md-8">
              <%=f.text_field :name, class: "form-control", placeholder: "User Name"%>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Sex</label>
            <div class="col-md-8">
              <%=f.select :sex,options_for_select([['Male','male'],['Female','female']]),class: "form-control"%>
            </div>
          </div><br/>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Date Of Birth</label>
            <div class="col-md-8">
              <%=f.text_field :dob, class: "form-control", placeholder: "MM/DD/YYYY" %>
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Time</label>
            <div class="col-md-8">
              <%=f.text_field :dob_time, class: "form-control", placeholder: "Hh:Mm:Ss" %>
            </div>
          </div>
       
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Place of Birth</label>
            <div class="col-md-8">
              <%=f.text_field :place, class: "form-control", placeholder: "Place Of Birth" %>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Father/Husband Name</label>
            <div class="col-md-8">
              <%=f.text_field :father_huband_name, class: "form-control", placeholder: "Father/Husband Name" %>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Telephone Number</label>
            <div class="col-md-8">
              <%=f.text_field :phone, class: "form-control", placeholder: "Telephone Number" %>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Address</label>
            <div class="col-md-8">
              <%=f.text_area :address, class: "form-control", placeholder: "Address" %>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Subject</label>
            <div class="col-md-8">
              <%=f.text_field :subject, class: "form-control", placeholder: "Subject" %>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Description</label>
            <div class="col-md-8">
              <%=f.text_area :description, class: "form-control", placeholder: "Description" %>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-4 control-label">Questions</label>
            <div class="col-md-8">
              <%=f.text_field :question, class: "form-control", placeholder: "Questions" %>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
              <%= f.email_field :email, autofocus: true,class: "form-control",placeholder: "Email Address" %>
            </div>
          </div>
          <%=f.hidden_field :amount, value: params[:amount].present? ? params[:amount] : @order.amount %>
          <%=f.hidden_field :currency, value: params[:currency].present? ? params[:currency] : @order.currency %>
          <div class="form-group">
            <!-- Button -->                                        
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit "Sign up",class: "btn btn-info" %>

              
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
<div class="payment_option">
  <%=render partial: 'service_data',locals: {order: @order,title: params[:title]} %>
</div>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
</script>

