<div class="container">    
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Update User Details</div>
      </div>  
      <div class="panel-body" >
        <%= form_for @order, :url => {:controller => "orders", :action => "update"},html: {class: "form-horizontal"}, remote: true do |f| %>
          <div id="signupalert" class="alert">
            <p><%#= devise_error_messages! %></p>
            <span></span>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Name</label>
              <div class="col-xs-8">
                <%=f.text_field :name, class: "form-control", placeholder: "User Name"%>
              </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Sex</label>
            <div class="col-xs-8">
              <%=f.select :sex,options_for_select([['Male','male'],['Female','female']]),class: "form-control"%>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Date Of Birth</label>
            <div class="col-xs-8">
              <%=f.text_field :dob, class: "form-control", placeholder: "MM/DD/YYYY" %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Time</label>
            <div class="col-xs-5">
              <%=f.text_field :dob_time, class: "form-control", placeholder: "Hh:Mm:Ss" %>
            </div>
            <div class="col-xs-3">
              <%= f.radio_button :dob_am_pm, 'am', :checked => true %> 
              <%= label :dob_am_pm, 'AM' %>
              <%= f.radio_button :dob_am_pm, 'pm' %>
              <%= label :dob_am_pm, 'PM' %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Place of Birth</label>
            <div class="col-xs-8">
              <%=f.text_field :place, class: "form-control", placeholder: "Place Of Birth" %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Father/Husband Name</label>
            <div class="col-xs-8">
              <%=f.text_field :father_huband_name, class: "form-control", placeholder: "Father/Husband Name" %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Telephone Number</label>
            <div class="col-xs-8">
              <%=f.text_field :phone, class: "form-control", placeholder: "Telephone Number" %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Address</label>
            <div class="col-xs-8">
              <%=f.text_area :address, class: "form-control", placeholder: "Address" %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Subject</label>
            <div class="col-xs-8">
              <%=f.text_field :subject, class: "form-control", placeholder: "Subject" %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Description</label>
            <div class="col-xs-8">
              <%=f.text_area :description, class: "form-control", placeholder: "Description" %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Questions</label>
            <div class="col-xs-8">
              <%=f.text_field :question, class: "form-control", placeholder: "Questions" %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Email</label>
            <div class="col-xs-8">
              <%= f.email_field :email, autofocus: true,class: "form-control",placeholder: "Email Address" %>
            </div>
          </div>
          <%=f.hidden_field :amount, value: params[:amount].present? ? params[:amount] : @order.amount %>
          <%=f.hidden_field :currency, value: params[:currency].present? ? params[:currency] : @order.currency %>
          <div class="form-group">
            <!-- Button -->                                        
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit "Sign up",class: "btn btn-info" %>

              
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
<div class="payment_option">
  <%=render partial: 'service_data',locals: {order: @order,title: params[:title]} %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    //$('.date').mask('00/00/0000');
    $('#user_dob_time').mask('00:00:00');
    $('#user_dob').mask('00/00/0000');
    //$('.date_time').mask('00/00/0000 00:00:00');
  })
</script>

