<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Astro</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="courtsy clearfix">
	<div class="col-sm-12">
		<ul class="list-unstyled pull-left m-b-0">
			<li class="welcome">Welcome Visitors ! </li>
			<li>
				<img src="/assets/phone.png" alt=""/>
				<span class="first">+91-11-26175070, 91-11-26160803</span>
				<span> HotLine: +91 98 103 03357 </span>
			</li>
		</ul>
		<div class="courtsy-right">
		  <% if user_signed_in? %>
        <p>Welcome <%= current_user.email %></p>
        <%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %>
      <%else%>
		    <%= link_to 'Log in', new_user_session_path,class: "fa fa-user"%>
		    <%= link_to 'Sign Up', new_user_registration_path%>|
			  <a href="javascript:void(0)">Wishlist(0)</a>
			<%end%>
		</div>
	</div>
</div>
<!--end courtsy -->

<div class="header clearfix">	
	<div class="logo pull-left">
	<%=link_to image_tag("logo.jpg"), '/' %>	
	</div>
	<div class="header-right">
		<%=link_to image_tag("skype.jpg"), '#', :class=>"pull-right"%>
		<div class="input-group pull-right">
	      <input type="text" class="form-control" placeholder="Search Products, Brands etc">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
	      </span>
	    </div><!-- /input-group -->
	    
	</div>
</div>
<!-- end header -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li><%=link_to "ASTRO SERVICES", home_astroservices_path %></li>
        <li><%=link_to "VASTU", home_vastu_path %></li>
        <li><%=link_to "NUMEROLOGY", home_numerology_path %></li>
        <li><%=link_to "SHOP", home_shop_path %></li>
        <li><%=link_to "WEEKLY HOROSCOPE", home_horoscope_path %></li>
        <li><%=link_to "CONTACT", home_contact_path %></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Horoscopes</a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-user"></i></a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <div class="news-headline clearfix">
  	<div class="col-sm-12 text-center">
	  	<span class="">World Brahmin Organisation (WBO) called a convention from 31st October – 2nd November 2014 on The Relevance of Vedas in the present Era.</span>
	  	<span class="pull-right">Nakashatra Niket</span>
	  </div>
  </div>
  <!--end news headline -->
</nav>
<!--end nav bar -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
  <div class="footer clearfix">
	<div class="footer-container clearfix">
		<div class="footer-column first">
			<h4>Useful Link</h4>
			<ul class="list-unstyled">
				<li><a href="javascript:void(0)">About Pandit Ji</a></li>
				<li><a href="javascript:void(0)">Contact Us</a></li>
				<li><a href="javascript:void(0)">Weekly Horoscope</a></li>
				<li><a href="javascript:void(0)">Numerology</a></li>
				<li><a href="javascript:void(0)">Testimonials</a></li>
			</ul>
		</div>

		<div class="footer-column second">
			<h4>Astro Services</h4>
			<div class="row">
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Astro Talk</a></li>
					<li><a href="javascript:void(0)">Raj Yog</a></li>
					<li><a href="javascript:void(0)">Marriage</a></li>
					<li><a href="javascript:void(0)">Love Life Report</a></li>
					<li><a href="javascript:void(0)">Career Report</a></li>
					<li><a href="javascript:void(0)">Ask Questions</a></li>
				</ul>
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Business Report</a></li>
					<li><a href="javascript:void(0)">1 Year Complete Report</a></li>
					<li><a href="javascript:void(0)">5 Year Complete Report</a></li>
					<li><a href="javascript:void(0)">Health Report</a></li>
					<li><a href="javascript:void(0)">Vastu &amp; You</a></li>
					<li><a href="javascript:void(0)">Numerology</a></li>
				</ul>
			</div>
		</div>

		<div class="footer-column third">
			<h4>Yearly Forecast 2016</h4>
			<div class="row">
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Aries</a></li>
					<li><a href="javascript:void(0)">Taurus</a></li>
					<li><a href="javascript:void(0)">Gemini </a></li>
					<li><a href="javascript:void(0)">Cancer</a></li>
					<li><a href="javascript:void(0)">Leo</a></li>
					<li><a href="javascript:void(0)">Virgo</a></li>
				</ul>
				<ul class="list-unstyled col-sm-5">
					<li><a href="javascript:void(0)">Libra</a></li>
					<li><a href="javascript:void(0)">Scorpio</a></li>
					<li><a href="javascript:void(0)">Sagittarius</a></li>
					<li><a href="javascript:void(0)">Capricorn</a></li>
					<li><a href="javascript:void(0)">Aquarius</a></li>
					<li><a href="javascript:void(0)">Pisces</a></li>
				</ul>
			</div>
		</div>

		<div class="footer-column last">
			<h4>Policy Information</h4>		
			<ul class="list-unstyled">
				<li><a href="javascript:void(0)">Terms &amp; Conditions</a></li>
				<li><a href="javascript:void(0)">Privacy Policy</a></li>
				<li><a href="javascript:void(0)">FAQ</a></li>
				<li class="social-link">
					<ul class="list-unstyled">
						<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<!--end footer container -->
</div>
<!-- end footer div -->

<div class="footer-bottom clearfix">
	<p class="pull-left">Copyright &copy; Astro Bhambi.com | All Right Reserved </p>
	<p class="pull-right">Developed By:  <a href="javascript:void(0)">Soft Indigo</a></p>
</div>
<!--end footer bottom -->
</body>
</html>
