<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Astro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min.css'%>
  <%= stylesheet_link_tag    'main-style.css' %>
  <%= stylesheet_link_tag    'fonts/font-awesome/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    '320.css', '480.css', '640.css', '768.css', '992.css', '1200.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
